html {
  height: 100%;
}
body {
  background-position: top center;
  margin: 0px;
  height: 100%;
  /* Hintergrund Regenbogenanimation BEGINN */
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 3800% 3800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

.bg-image {
  background-image: ("brain.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
  /* Hintergrund Regenbogenanimation ENDE */
}

/* Klappmenü BEGINN */
.papa {
  display: block;
}

#navi {
  display: none;
}

.papa:hover #navi {
  display: block;
}

a.innen {
  color: black;
  font-family: monospace;
  font-style: oblique;
}

a.innen:hover {
  color: rgb(36, 0, 199);
}

a.aussen {
  color: black;
  font-family: monospace;
  font-style: normal;
}

a.aussen:hover {
  display: block;
  color: rgb(36, 0, 199);
}

/* Klappmenü ENDE */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
/* The Modal (background) END */

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#site {
  background-position: top center;
  width: 980px;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  font-family: monospace;
  font-weight: 800;
  font-size: large;
}

#top-login {
  background-color: #ffffff;
  height: 40px;
  width: 980px;
  margin: 0px auto;
  text-align: right;
}
#header {
  background: #7688d8;
  /* height: 193px; */
  margin: 0px auto;
  width: 980px;
  color: aquamarine;
  font-size: xx-large;
  font-family: monospace;
}

.dropdown {
  text-align: center;
  height: 100%;
}

#content {
  background: rgb(255, 255, 255);
  margin: 0px auto;
  width: 980px;
  min-height: 100%;
  box-shadow: 0px 0px 20px black;
}

#left {
  background: #ffffff;
  width: 160px;
  float: left;
}
#right {
  background: #ffffff;
  width: 160px;
  float: left;
}
#main {
  background: #caeff8;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 650px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 26px 18px;
}

#td1 {
  outline: auto;
}

#td2 {
  outline: auto;
}

#td3 {
  outline: auto;
}

#td4 {
  outline: auto;
}

#home {
  position: fixed;
  margin-top: 2%;
  margin-left: 2%;
  height: 32px;
  width: 32px;
}

/* Aktiven Anker hervorheben */
p:target {
  background-color: #b3ffbf;
}
