*{
    margin: 0;
    padding: 0;
}

@import "color_config";

@import "main";
@import "products";
@import "contact";

.primary-block{
    background-color: $primary-color;
}

.error-block{
    background-color: $error-color;
}

.info-block{
    background-color: $info-color;
}