*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-color: bisque;
    height: 100vh;
    margin: 200px;
    position: relative;
}

#root div{
    width: 100px;
    height: 100px;
    position: absolute;
}

.elem_1{
    background-color: brown;
    left: 100px;
    top: 100px;
}

.elem_2{
    background-color: #fd79a8;
    right: 100px;
    top: 100px;
}

.elem_3{
    background-color: #0984e3;
}