*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

#root>div{
    width: 300px;
    background-color: bisque;
    padding: 10px;
    position: relative;
}

#root .cross{
    width: 30px;
    height: 30px;
    border: 2px solid #e17055;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e17055;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
}