*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

#root div{
    width: 300px;
    background-color: bisque;
    padding: 10px;
}