*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00B894;
    min-height: 400px;
}

.main{
    margin: 100px auto;
    width: 80%
}

.image_cards{
    display: flex;
    justify-content: space-between;
}

.image_cards div{
    width: 33%;
}


.image_cards>div{
    width: 33%;
    min-height: 300px;
    background-color: #5F27CD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.image_cards p{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.info{
    background-color: #576574;
    padding: 20px;
    color: white;
    margin-top: 20px;
}


