* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald';
}

header{
    background-image: url('../media/Rectangle.png');
    background-size: cover;
    background-position: center;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

header h1{
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    width:  734px
}

header .works{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
}

header .achievement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 1110px;
    height: 300px;
    padding: 0 130px;
}

header .achievement div{
    text-align: center;
}

header .achievement .value{
    color: #F7654A;
    font-size: 72px;
}

header .achievement .year{
    font-size: 36px;
    color: black;
}

header .achievement .text{
    color: #999999;
    font-size: 18px;
}
#projects{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#projects .container{
    width: 1110px;
    height: 700px;
}

#projects h2{
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

#projects .cards{
    display: flex;
    justify-content: space-between;
}

#projects .cards div{
    width: 350px;
    min-height: 400px;
}

#projects .cards img{
    width: 350px;
    height: 380px;
}

#projects .cards hr{
    border: 3px solid #F7654A;
    width: 55px;
    margin-top: 30px;
}

#projects .cards h3{
    font-size: 24px;
    margin: 20px 0;
}

#projects .cards p{
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

#request{
    background-color: #F7654A;
}

#request .container{
    width: 1110px;
    margin: 0 auto;
    height: 180px;
}
