* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald';
}

header{
    background-image: url('../media/Rectangle.png');
    background-size: cover;
    background-position: center;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

h1{
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.achievement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 600px;
    padding: 20px;
}