* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald';
}

header{
    background-image: url('../media/Rectangle.png');
    background-size: cover;
    background-position: center;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

header h1{
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    width:  734px
}

header .works{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
}

header .achievement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 1110px;
    height: 300px;
    padding: 0 130px;
}

header .achievement div{
    text-align: center;
}

header .achievement .value{
    color: #F7654A;
    font-size: 72px;
}

header .achievement .year{
    font-size: 36px;
    color: black;
}

header .achievement .text{
    color: #999999;
    font-size: 18px;
}
#projects{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#projects .container{
    width: 1110px;
    height: 700px;
    background-color: rgb(36, 103, 103);
}

#projects h2{
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}