*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#moto{
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 60px 30px;
}

#moto .item{
    border: 2px solid black;
}

#moto .item img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}